---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PageTitle from '../components/PageTitle.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

const pageTitleSeo = 'Kontakt | LogicLabs Network';
const pageDescription = 'Kontaktirajte nas putem forme ili pronađite naše kontakt informacije.';
const displayTitle = 'Kontaktirajte nas';
---

<Layout title={pageTitleSeo} description={pageDescription}>
  <Header />
  <PageTitle title={displayTitle} subtitle={pageDescription} />
  <main class="pb-12 text-white">
    <Contact />
  </main>
  <Footer />
</Layout>
